// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-size: 1.1em;
}
 
#content {
  color: $pink;
  font-size: 2em;
}
 
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}
 
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: $green;
 
  @media (max-width: 700px) {
    font-size: 2.2em;
  }
}
 
h2 {
  font-size: 1.5em;
  color: $purple;
}
 
p {
  font-size: 1.3em;
  line-height: 1.5em;
    color: $purple;
  margin-bottom: 20px;
    margin-top: 15px;
}
 
section {
  padding: 20px 0;
}
 
.div-table {
  display: table;         
  width: auto;         
  background-color: $white;         
  border: 1px solid $lightCreame;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: $lightCreame;
  padding: 20px;
}

.searchIcon{
    width: 4%;
    height: 4%;
}
input {
    width:320px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}
.searchContainer {
    background-color: $purple;
    color: $white
}
